

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    margin: 20px;
}

#chatBox {
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #FFF;
    background-color: #111;
    
    padding: 10px;
    margin: auto;
    text-align: left;
    color: rgb(34, 228, 34);
}

#userInput {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}



#description {
    text-align: left;
    color: #FFF;
}

#title1 {
    color: #FFF;
}

#role {
    color: #F00;
}