

body {
    font-family: Roboto Mono, monospace;
    text-align: center;
    background-color: #2b2b2b;
    margin: 30px;
}

#chatBox {
    width: 90%;
    height: 600px;
    overflow-y: auto;
    background-color: none;
    font-family: 'Ubuntu Mono', monospace;
    
    padding: 10px;
    margin: auto;
    text-align: left;
}

#userInput {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: none;
    border: 1px black solid;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: goldenrod;
    color: #111;
}



#description {
    text-align: left;
    color: #FFF;
}

#title1 {
    color: #FFF;
}

#role_user {
    color: green;
}

#role_deepseek {
    color: hotpink;
}

#userText {
    color: greenyellow;
}

#deepseekText {
    color: lightpink;
}